body{
    margin: 0%;
}
#main {
    width: 90%;
    height: 90rem;
    margin: 5%;
    background: blue;
    display: flex;
    justify-content: space-around;
    

}
.pics {
    background: white;
    text-align: center;
    width: 40rem;
    height: 49rem;
    background-repeat: no-repeat;
    filter: grayscale(1);
    border: 2px black solid;
    padding-bottom: 6rem;
    position: absolute;

    box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.336);
}
#main img {
    height: 49rem;
    width: 40rem;
   }

 .one {
    left: 76rem;
    top: 14rem;
    transform: rotate(45deg);
    transition: 0.9s;
    z-index: 1;
 }
 .one:hover {
    transform: rotate(0deg);
    transition: 2s;
    filter: grayscale(0);
    transition: 0.9s;
}
.two {
    left: 100rem;
    top: 8rem;
    transform: rotate(-225deg);
    transition: 0.9s;
 }
 .two:hover {
    transition: 0.9s;
    filter: grayscale(0);
    transform: rotate(0deg);
    z-index: 1;
}

 .three {
    left: 94rem;
    top: 39rem;
    transform: rotate(45deg);
    transition: 0.9s;
 }
 .three:hover {
    transform: rotate(0deg);
    transition: 2s;
    filter: grayscale(0);
    z-index: 1;
}
 .four {
    left: 103rem;
    top: 24rem;
    transform: rotate(225deg);
    transition: 0.9s;
 }

.four:hover {
    transition: 0.9s;
    filter: grayscale(0);
    transform: rotate(0deg);
    z-index: 1;
}
