body{
    margin: 0%;
}
#main {
    width: 90%;
    height: 90rem;
    margin: 5%;
    background: transparent;
    display: flex;
    justify-content: space-around;
}
.pics {
    background: transparent;
    color: #ffffff;
    text-align: center;
    width: 40rem;
    margin: 0 0 0 0;
    height: 40rem;
    background-repeat: no-repeat;
    position: absolute;
    filter: grayscale(1);
    border: 2px black solid;
    padding-bottom: 5rem;
}
#main img {
    height: 40rem;
    width: 40rem;
    border: 2px black solid;
   }

 .one {
    left: 4rem;
    top: 9rem;
    transform: rotate(80deg);
    transition: 0.9s;
    z-index: 1;
 }
 .one:hover {
    transform: rotate(0deg);
    transition: 2s;
    filter: grayscale(0);
    transition: 0.9s;
}
.two {
    top: 25rem;
    left: 19rem;
    transform: rotate(180deg);
    transition: 0.9s;
 }
 .two:hover {
    transition: 0.9s;
    filter: grayscale(0);
    transform: rotate(0deg);
    z-index: 1;
}

 .three {
    left: 36rem;
    top: 4rem;
    transform: rotate(-340deg);
    transition: 0.9s;
 }
 .three:hover {
    transform: rotate(0deg);
    transition: 2s;
    filter: grayscale(0);
    z-index: 1;
}
 .four {
    left: 45rem;
    top: 25rem;
    transition: 0.9s;
    transform: rotate(150deg);
 }

.four:hover {
    transition: 0.9s;
    filter: grayscale(0);
    transform: rotate(0deg);
    z-index: 1;
    
}
