* {
    font-size: 16px;
}
body {
  margin: 0%;
}
#main {
  width: 90%;
  height: 50rem;
  margin: 5%;
  background: rgba(137, 43, 226, 0.644);
  position: relative;
  display: flex;
  justify-content: space-around;
}
.pics {
  background: white;
  text-align: center;
  height: 25rem;
  width: 20rem;
  background-repeat: no-repeat;
  filter: grayscale(1);
  border: 2px black solid;
  padding-bottom: 6rem;
  position: absolute;

  box-shadow: 6px 6px 6px 1px rgba(0, 0, 0, 0.336);
}
#main img {
  height: 29rem;
  width: 20rem;
}

.blue-beanie {
  left: 16rem;
  top: 1rem;
  transform: rotate(45deg);
  transition: 1.9s;
  z-index: 1;
}
.blue-beanie:hover {
  transform: rotate(-10deg);
  filter: grayscale(0);
  transition: 0.9s;
}
.lavendel {
  left: 10rem;
  top: 4rem;
  transform: rotate(-225deg);
  transition: 1.9s;
}
.lavendel:hover {
  transition: 0.9s;
  filter: grayscale(0);
  transform: rotate(0deg);
  z-index: 1;
}

.sunset-sea {
  left: 14rem;
  top: 13rem;
  transform: rotate(45deg);
  transition: 1.2s;
}
.sunset-sea:hover {
  transform: rotate(10deg);
  transition: 0.9s;
  filter: grayscale(0);
  z-index: 1;
}
.beach-side {
  left: 24rem;
  top: 9rem;
  transform: rotate(225deg);
  transition: 1s;
}

.beach-side:hover {
  transition: 0.9s;
  filter: grayscale(0);
  transform: rotate(275deg);
  z-index: 1;
}
#main > span {
  height: 25rem;
  width: 45rem;
  position: absolute;
  top: 40%;
  right: 2%;
  z-index: 1;
}
#main > span > h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    word-spacing: .4rem;
    letter-spacing: 0.058rem;
    z-index: 1;
}
span h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.9rem;
    line-height: 1.2rem;
    word-spacing: .7rem;
    letter-spacing: 0.15rem;
    z-index: 1;
}